p{

  font-size: 125%;

  font-family: Muli;
  color: #05386B;
}

body{
  background-color:#41b3a3;
  color:white;
  font-family: Muli;
  font-size: 25px;

}

.button {
  background-color: #E27D60; /* Green */
  font-family: Muli;

}

.input{
  color:white;
}

input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
      transform:scale(1);


  }

  input[type='radio']:checked:after {
       width: 15px;
       height: 15px;
       border-radius: 15px;
       top: -2px;
       left: -1px;
       position: relative;
       background-color: #E27D60;
       content: '';
       display: inline-block;
       visibility: visible;
       border: 2px solid white;
       font-size: 40px;
   }

   input[type='radio']:checked+label {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #E27D60;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
        font-size: 40px;
        color:purple;
    }

    a:link{
     color:#white;
     text-decoration: none;
     font-family: Muli;
     font-size: 45px;
     text-align: center;

   }

   a:visited{
    color:white;
    text-decoration: none;
    font-family: Muli;
    font-size: 100%;
    text-align: center;

  }

 .button{
    font-family: Muli;
    width: 100px;
    height:50px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  p{
    font-size: 24px;
  }

  #gbutton.button{
     font-family: Muli;
     width: 120px;
     height:50px;
     font-size: 25px;
     text-align: center;
     margin-bottom: 20px;
     margin-top: 10px;
     border-radius: 12px;
     margin-left: 10px;
     margin-right: 10px;
   }

#score body {
font-size: 23px;
}
