<html>
  <body>

    <div id="name">
      <form>
        name:
        <input type="text" id="nametextbox"> </input>
      </form>
    </div>
    <div id="tags">
      tags:
      <input type="text" id="tagstextbox"> </input>
    </div>

    <div id="questionsInQuiz">

    </div>

    <div id="catdrop">
      <select id="catdropoption">
      </select>
    </div>


    <div id="saveButton">
      <button type="button"> save quiz </button>
    </div>

<script src=a4client.js></script>

  </body>
</html>
