<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Muli">
<link rel='stylesheet', href='/css/quizrender.css'>
<title>
"Trivia"
</title>
</head>

<body>

<!-- this is the area for the dropdown menu-->



<!-- divs for the buttons on the page-->


  </div>
  <div id="answersOnPage">

  </div>
  <div id="score"></div>






<!-- code for google translate fucntionality-->
<div id='google'>
<div id="google_translate_element"></div>
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
<a href="/">Home</a><br>
<a href="/quizzes">Quizzes</a><br>
<a href="/createquiz">Create</a>





<script src='/playFile'></script>

</body>
</html>
