doctype html
html
  head
  <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Muli">
    meta(charset='UTF-8')
    title Trivia
    <h1 class="sansserif">Trivia</h1>


    link(rel='stylesheet', href='/css/homepage.css')

    include ../partials/footer
    div(id="information")
      <p>This site uses JS, CSS and HTML for the frontend and uses mongoDB and ExpressJS as a backend. <br> Made in the Covid-19 Pandemic
      <br>
        a(href='http://www.github.com/callumhaugen/webassign4') GitHub Link
      </p>
