html
	head
		hello
		<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Muli">
		link(rel='stylesheet', href='/css/homepage.css')
body
	div(id="quizzes")
			each value in questions
				//button(type='button', id=`${value._id}`) delete

				button(type='button', class="button",id=`${value._id}`+goToQuiz) Play

				lable(for=`${value._id}`+goToQuiz, class="lable") #{value.creatorname}
				a(href="/quiz/"+value._id)
				|#[br]


	include ../partials/footer
script(src="/deletefile")
